.card {
    // Higher value eg. 15000px, no noticeable change. Medium value, good. Small value, dramatic effect.
    perspective: 1500px;

    &__side {
        background-color: orangered;
        height: 500px;
        transition: all .5s;
    }

    // When I hover the card, I want .card__side to transform
    &:hover &__side {
        transform: rotateY(180deg);
    }
}